/* Reset styles */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

body {
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 80px;
}

.switch {
  display: block;
  position: relative;
  width: 45px;
  height: 24px;
  color: black;
  background-color: silver;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 1.5rem;
  color: #000;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch.on::after {
  left: 23px;
}

.option-name {
  text-align: center;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#digitalClock {
  width: 320px;
  min-width: 320px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: silver;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #010035;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#digitalClock.hide {
  display: none;
}

.card {
  color: #000;
  padding: 20px 10px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.numbers {
  font-size: 1.6rem;
  display: inline-block;
}

.ampm {
  color: #000;
  font-size: 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.words {
  margin-top: 5px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

#analogClock {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px auto;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.fraction {
  width: 1px;
  height: 150px;
  position: absolute;
  top: 149px;
  left: 148.5px;
  background-color: #aaa;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(0deg) translateY(130px) scaleY(0.1);
          transform: rotate(0deg) translateY(130px) scaleY(0.1);
}

.analog-number {
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  color: #777;
}

#number12 {
  left: 140px;
  top: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body.dark {
  background-color: #202020;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#digitalClock.dark {
  background-color: #303030;
  border: 2px solid #3d3d3d;
  color: #bbbbbb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card.dark {
  -webkit-box-shadow: 0 2px 3px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 3px 1px rgba(255, 255, 255, 0.1);
  background-color: #222222;
  color: #bbbbbb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ampm.dark {
  color: #bbbbbb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch.dark {
  background-color: #dfdfdf;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch.dark::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #222222;
}

.option-name.dark {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  #digitalClock {
    width: 500px;
  }
  .card {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .numbers {
    font-size: 2.5rem;
  }
  .colon {
    font-size: 2rem;
  }
  .ampm {
    font-size: 1rem;
  }
  .words {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .option {
    margin: 10px;
    width: 90px;
  }
  .switch {
    width: 60px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
  }
  .switch::after {
    width: 26px;
    height: 26px;
    top: 2px;
    left: 2px;
  }
  .switch.on::after {
    left: 32px;
  }
}
/*# sourceMappingURL=style.css.map */